body {
    background-image: linear-gradient(to right, rgb(253, 107, 10), rgb(255, 175, 99));
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.searchDiv {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-color: black;
}

#pokeDiv {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}